# FEATURE SELECTION: Interaction Small Talk

### Libraries

In [38]:
import numpy as np
import pandas as pd

### Create Data

In [182]:
n = 500
N = n + 1000
cutoff = round(n/N, 1)
p = 30
X = np.reshape(np.random.randint(0, 2, n*p), (n, p))
print(X)

[[1 1 0 ... 0 0 1]
 [1 0 1 ... 1 0 1]
 [1 1 0 ... 1 1 1]
 ...
 [1 0 1 ... 0 0 1]
 [1 1 1 ... 1 0 1]
 [0 1 1 ... 1 0 0]]

In [183]:
pd.DataFrame(X).head(3)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1,0,1,0,1,1,1,1,0,...,0,0,1,1,0,1,1,0,0,1
1,1,0,1,0,1,1,1,1,1,0,...,0,1,1,0,1,1,1,1,0,1
2,1,1,0,0,0,1,1,1,1,1,...,1,0,1,0,0,1,1,1,1,1

In [184]:
X = pd.DataFrame(X)
X.describe()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.0000,...,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.468000,0.512000,0.504000,0.508000,0.518000,0.494000,0.492000,0.470000,0.528000,0.5200,...,0.488000,0.526000,0.526000,0.534000,0.470000,0.528000,0.510000,0.466000,0.486000,0.506000
std,0.499475,0.500357,0.500485,0.500437,0.500176,0.500465,0.500437,0.499599,0.499715,0.5001,...,0.500357,0.499824,0.499824,0.499342,0.499599,0.499715,0.500401,0.499342,0.500305,0.500465
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.0000,...,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Create Underlying Model

In [185]:
y1 = np.mod(X.iloc[:, 1] + X.iloc[:, 2], 2)
y2 = np.mod(X.iloc[:, 3] + X.iloc[:, 4] + X.iloc[:, 5], 2)

In [186]:
y = np.where(np.random.randint(0, 2, n) == 1, y1, y2)
print(y.mean())
print(y)

0.492
[1 1 1 0 0 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1 0 1 1 1 0 0 0 1 1
 0 0 0 0 1 0 0 1 1 0 1 1 0 0 1 0 1 1 0 1 0 1 0 1 1 1 1 1 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 0 1 1 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 1 0 0 1 1 0 1
 1 1 1 1 1 0 1 0 1 1 1 1 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0
 1 1 1 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 1 0 1 0 0 0 1 0 0 1 1 1 0 1 1 1 1
 1 1 0 1 0 0 1 1 0 0 1 0 1 1 0 1 0 0 1 1 1 1 0 0 0 1 1 1 0 1 1 0 1 0 1 1 1
 0 1 1 0 0 0 1 1 0 1 0 0 1 1 0 1 0 1 1 0 0 1 1 1 0 1 1 0 1 1 1 0 0 1 0 0 1
 0 1 0 0 1 0 0 0 1 1 1 0 0 0 1 0 0 0 1 0 1 1 0 1 1 1 1 1 1 0 0 0 0 1 1 1 0
 1 1 0 1 1 1 1 1 0 1 1 0 0 1 1 0 1 0 1 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 1 0
 0 1 1 1 0 1 0 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0
 1 0 0 0 1 1 1 1 1 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 1 1
 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 1 1 0 0 1 0 1 1 0
 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 1 1 0 0 1 1 1 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0
 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 1 1 1 1]

In [188]:
sample_data = pd.concat([X.iloc[:, [1,2]], pd.DataFrame(y)], axis=1)
sample_data.columns = ['1', '2', 'y']
sample_data.head()

   1  2  y
0  1  0  1
1  0  1  1
2  1  0  1
3  0  1  0
4  0  0  0

### Theoretical Accuracy

In [195]:
np.mod(X.iloc[:, [3,4,5]].sum(axis=1), 2)

0      0
1      0
2      1
3      0
4      1
      ..
495    0
496    1
497    1
498    1
499    1
Length: 500, dtype: int64

In [198]:
LossL1 = y - np.mod(sample_data.iloc[:, 1] + sample_data.iloc[:, 2], 2)
CHK = np.where(LossL1 != 0, 0, 1)
print('1st Round:', CHK)
print('Accuracy:', CHK.mean())

LossL2 = np.where(LossL1 != 0, LossL1 - np.mod(X.iloc[:, [3,4,5]].sum(axis=1), 2), LossL1)
CHK = np.where(LossL2 == 0, 1, 0)
print('2nd Round:', CHK)
print('Final Accuracy:', CHK.mean())

1st Round: [1 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 1 1 0 1 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0
 1 1 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 0 1 0 1 1 0 0 0 1 0 0 0 0 1 0 1 1
 1 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 1 1 0 1 1 1 0 1 1 0 1 1 0 1 1 1 0 0 1 1 0
 0 0 0 1 0 0 0 1 0 0 1 1 1 1 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 0
 0 0 1 1 1 1 0 0 0 1 1 0 1 1 1 1 0 1 1 0 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0 1 0
 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 1 1 0 1 1 1 0 0 1 0 0 1
 1 1 0 1 1 1 0 0 0 1 1 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 1 0
 0 1 1 1 1 1 0 1 1 1 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1 1 0 0 0 0 0 1 1 1 1
 1 1 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 0 1 0 0 1 0
 1 0 0 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0
 1 1 0 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 1 1 0 0 1 1 0 0 0 1 1 0 1 1 1 0 1 0 1
 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 1 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 1 1 1
 1 1 1 1 0 0 0 0 0 1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 0 0 1 0 0 1 0 0 1 1 0 0 1
 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0]
Accuracy: 0.496
2nd Round: [1 0 1 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 0 0 1 1 0 1 0 1 1
 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 0 0 0 1 0 0 0 0 1 0 1 1
 1 0 1 0 1 1 0 1 0 1 0 1 0 0 0 0 1 1 0 1 1 1 0 1 1 0 1 1 0 1 1 1 0 0 1 1 1
 0 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 0 0 1 1 1 1 0 1 1 1 0 0 1 1 0 0 0 0 1 1 0
 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 0 1 1 1 1 0 0 1 1 1
 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 0 1 1 1 1 0 0 0 1 1 1 1 1 1 0 1 1 0 1 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0 0 1 0 1 1
 0 1 1 1 1 1 0 1 1 1 1 0 0 0 1 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 0 0 0 1 1 1 1
 1 1 0 1 1 1 1 1 0 1 1 1 0 0 1 1 1 0 1 0 0 1 0 1 0 1 0 1 1 0 1 0 1 0 0 1 0
 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0
 1 1 0 0 0 1 1 1 1 1 1 1 0 1 0 0 0 0 1 1 0 1 1 1 0 1 0 1 1 0 1 1 1 0 1 1 1
 1 1 0 0 0 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 1 1 1 1 1 0 0 1 1 1 1 1 1
 1 1 1 1 0 1 0 0 0 1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 1 1
 1 0 0 1 1 0 0 0 1 0 1 0 1 0 0 1 1 1 1]
Final Accuracy: 0.678

In [5]:
%run "../scripts/InteractionBasedLearning.py"
InteractionBasedLearning.InteractionLearning

----------------------------------------------------------------------------------------------------

        ################ Interaction-based Learning Statistical Package #################
        ### For more information, please go to "Research" page of www.YinsCapital.com ###

----------------------------------------------------------------------------------------------------
README:
This script has the following functions:

    (1) iscore(): this function computes the I-score of selected X at predicting Y
    (2) BDA(): this function runs through Backward Dropping Algorithm once
    (3) InteractionLearning(): this function runs many rounds of BDA and
                               finalize the variables selcted according to I-score

ACKNOWLEDGEMENT:
This script is not-fot-profit and it is a production of my research
during my time at Columbia University.
----------------------------------------------------------------------------------------------------

In [191]:
InteractionBasedLearning.InteractionLearning

In [192]:
temp = InteractionBasedLearning.InteractionLearning(
    newX=X, y=y,  testSize=cutoff,
    num_initial_draw=7, total_rounds=100, top_how_many=2,
    nameExists=True, TYPE=int, verbatim=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:49<00:00,  2.03it/s]

Time Consumption (in sec): 49.65
Time Consumption (in min): 0.83
Time Consumption (in hr): 0.01

In [194]:
temp['Brief'].head()

        Modules     Score
77     [[1, 2]]  7.563269
32  [[3, 4, 5]]  5.627189
98   [[11, 24]]  2.104591
13   [[13, 14]]  1.551617
68   [[10, 17]]  1.280921

Investigation ends here.